@font-face {
  font-family: "montserratregular";
  src: url("../font/montserrat-regular-webfont.woff") format("woff"), url("../font/montserrat-regular-webfont.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  width: auto;
  font-family: "montserratregular";
}

header {
  margin: 40px 100px 0 100px;
}
@media screen and (min-width: 280px) and (max-width: 768px) {
  header {
    margin: 20px;
  }
}
@media screen and (min-width: 769px) and (max-width: 950px) {
  header {
    margin: 30px 40px 0 40px;
  }
}

main {
  margin: 25px 100px 0 100px;
}
@media screen and (min-width: 280px) and (max-width: 768px) {
  main {
    margin: 20px;
  }
}
@media screen and (min-width: 769px) and (max-width: 950px) {
  main {
    margin: 25px 40px 0 40px;
  }
}

@media screen and (min-width: 1600px) {
  .wrapper {
    margin: 0 auto;
    width: 1600px;
  }
}

@media screen and (min-width: 2000px) {
  .wrapper,
footer {
    margin: 0 auto;
    width: 1600px;
  }
}

body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}

@keyframes open {
  from {
    transform-origin: top;
    transform: scaleY(0);
    opacity: 0;
  }
  to {
    transform-origin: top;
    transform: scaleY(1);
    opacity: 1;
  }
}
.close {
  display: none;
}

.open {
  display: block;
  animation-duration: 0.7s;
  animation-timing-function: ease-in-out;
  animation-name: open;
  animation-fill-mode: both;
}

.header {
  display: flex;
  justify-content: space-between;
}
.header__img {
  max-width: 100%;
  height: auto;
}
@media screen and (min-width: 280px) and (max-width: 768px) {
  .header__img {
    max-width: 45%;
  }
}
.header__nav {
  display: flex;
  align-items: center;
}
.header__nav__ul {
  display: flex;
  padding: 0;
  list-style-type: none;
  width: 100%;
  justify-content: space-between;
}
.header__nav__ul__li {
  font-size: 1.5rem;
  color: #ff6060;
  font-weight: 500;
  text-decoration: none;
  margin: 10px 0 0 57px;
}
.header__nav__ul__li:hover {
  text-decoration: underline;
  cursor: pointer;
}
@media screen and (min-width: 280px) and (max-width: 400px) {
  .header__nav__ul__li {
    font-size: 4.3vw;
    margin-left: 5vw;
  }
}
@media screen and (min-width: 400px) and (max-width: 480px) {
  .header__nav__ul__li {
    font-size: 1.1rem;
    margin-left: 1rem;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .header__nav__ul__li {
    font-size: 1.3rem;
    margin-left: 2rem;
  }
}

.banner {
  position: relative;
  margin-top: 63px;
  min-height: 111px;
  max-height: 223px;
  height: inherit;
}
@media screen and (min-width: 280px) and (max-width: 768px) {
  .banner {
    margin-top: 20px;
  }
}
@media screen and (min-width: 400px) and (max-width: 768px) {
  .banner {
    min-height: 33.75vw;
  }
}
@media screen and (min-width: 769px) and (max-width: 1080px) {
  .banner {
    min-height: 18.2vw;
  }
}
.banner--about {
  min-height: inherit;
  max-height: inherit;
  height: 223px;
}
@media screen and (min-width: 400px) and (max-width: 768px) {
  .banner--about {
    min-height: inherit;
  }
}
@media screen and (min-width: 769px) and (max-width: 1080px) {
  .banner--about {
    min-height: inherit;
  }
}
.banner__img {
  border-radius: 25px;
  display: block;
  width: 100%;
  object-fit: cover;
  min-height: 111px;
  max-height: 223px;
  height: inherit;
}
@media screen and (min-width: 280px) and (max-width: 1080px) {
  .banner__img {
    border-radius: 10px;
  }
}
@media screen and (min-width: 400px) and (max-width: 768px) {
  .banner__img {
    min-height: 33.75vw;
  }
}
@media screen and (min-width: 769px) and (max-width: 1080px) {
  .banner__img {
    min-height: 18.2vw;
  }
}
.banner__img--about {
  min-height: inherit;
  max-height: inherit;
  height: 223px;
}
@media screen and (min-width: 400px) and (max-width: 768px) {
  .banner__img--about {
    min-height: inherit;
  }
}
@media screen and (min-width: 769px) and (max-width: 1080px) {
  .banner__img--about {
    min-height: inherit;
  }
}
.banner__layer {
  display: block;
  position: absolute;
  border-radius: 25px;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  opacity: 0.2;
}
@media screen and (min-width: 280px) and (max-width: 1080px) {
  .banner__layer {
    border-radius: 10px;
  }
}
.banner__title {
  position: absolute;
  top: 40%;
  width: 100%;
  font-size: 3rem;
  text-align: center;
  color: white;
}
@media screen and (min-width: 280px) and (max-width: 768px) {
  .banner__title {
    font-size: 6.875vw;
    text-align: start;
    margin-left: 19px;
    top: 28%;
  }
}
@media screen and (min-width: 769px) and (max-width: 1080px) {
  .banner__title {
    font-size: 4.3vw;
    text-align: center;
    top: 40%;
  }
}
@media screen and (min-width: 280px) and (max-width: 768px) {
  .banner__title__main {
    display: block;
    margin-bottom: 2px;
  }
}

.cardsContent {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 56px;
  margin-top: 43px;
  border-radius: 25px;
  background: #f6f6f6;
  justify-content: space-between;
  flex-wrap: wrap;
}
@media screen and (min-width: 280px) and (max-width: 950px) {
  .cardsContent {
    flex-direction: column;
    padding: 0px;
    background: transparent;
    margin-top: 20px;
  }
}
@media screen and (min-width: 769px) and (max-width: 1080px) {
  .cardsContent {
    margin-top: 63px;
  }
}
.cardsContent__card {
  cursor: pointer;
  position: relative;
  display: flex;
  flex-direction: column;
  list-style-type: none;
  width: 30%;
  height: 340px;
  margin-bottom: 56px;
  border-radius: 10px;
}
.cardsContent__card:hover {
  transform: scale(1.03);
  transition-duration: 500ms;
  box-shadow: 3px 2px 10px rgba(66, 45, 45, 0.452);
}
.cardsContent__card:hover .cardsContent__imgContent__title {
  font-weight: 600;
}
@media screen and (min-width: 481px) and (max-width: 1400px) {
  .cardsContent__card {
    width: 45%;
  }
}
@media screen and (min-width: 280px) and (max-width: 768px) {
  .cardsContent__card {
    width: 100%;
    height: 255px;
    margin-bottom: 20px;
  }
}
@media screen and (min-width: 769px) and (max-width: 950px) {
  .cardsContent__card {
    width: 100%;
    height: 255px;
    margin-bottom: 30px;
  }
}
.cardsContent__gradient {
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background: linear-gradient(0deg, rgba(0, 0, 0, 0.5), transparent);
  border-radius: 10px;
}
.cardsContent__imgContent {
  overflow: hidden;
  border-radius: 10px;
}
.cardsContent__imgContent__img {
  object-fit: cover;
  height: 340px;
  display: block;
  width: 100%;
}
@media screen and (min-width: 280px) and (max-width: 950px) {
  .cardsContent__imgContent__img {
    height: 255px;
  }
}
.cardsContent__imgContent__title {
  display: block;
  max-width: 70%;
  position: absolute;
  bottom: 0;
  margin: 20px;
  font-weight: 500;
  color: white;
  z-index: 1;
}
@media screen and (min-width: 280px) and (max-width: 480px) {
  .cardsContent__imgContent__title {
    font-size: 1rem;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .cardsContent__imgContent__title {
    font-size: 1.1rem;
  }
}
@media screen and (min-width: 769px) and (max-width: 950px) {
  .cardsContent__imgContent__title {
    font-size: 1.25rem;
  }
}
@media screen and (min-width: 950px) and (max-width: 1080px) {
  .cardsContent__imgContent__title {
    font-size: 1rem;
  }
}

.gallery {
  display: flex;
  position: relative;
  color: white;
}
.gallery__arrowLeft {
  display: block;
  position: absolute;
  top: 46%;
  font-size: 4.5rem;
  padding: 0 23px;
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
}
@media screen and (min-width: 280px) and (max-width: 480px) {
  .gallery__arrowLeft {
    font-size: 9.375vw;
    top: 44%;
    padding: 0 10px 0 10px;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .gallery__arrowLeft {
    font-size: 7.375vw;
    top: 42%;
    padding: 0 20px 0 20px;
  }
}
.gallery__imgContent {
  height: 415px;
  width: 100%;
  overflow: hidden;
  border-radius: 25px;
}
@media screen and (min-width: 280px) and (max-width: 768px) {
  .gallery__imgContent {
    height: 255px;
    border-radius: 10px;
    margin-top: inherit;
  }
}
.gallery__imgContent__img {
  height: 415px;
  width: 100%;
  object-fit: cover;
  display: block;
}
@media screen and (min-width: 280px) and (max-width: 768px) {
  .gallery__imgContent__img {
    height: 255px;
    border-radius: 10px;
    margin-top: inherit;
  }
}
.gallery__arrowRight {
  display: block;
  position: absolute;
  top: 46%;
  font-size: 4.5rem;
  padding: 0 23px;
  background: transparent;
  border: none;
  color: white;
  cursor: pointer;
  right: 0;
}
@media screen and (min-width: 280px) and (max-width: 480px) {
  .gallery__arrowRight {
    font-size: 9.375vw;
    top: 44%;
    padding: 0 10px 0 10px;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .gallery__arrowRight {
    font-size: 7.375vw;
    top: 42%;
    padding: 0 20px 0 20px;
  }
}

.collapse {
  width: 47%;
}
@media screen and (min-width: 280px) and (max-width: 768px) {
  .collapse {
    width: 100%;
    margin-bottom: 30px;
  }
}
.collapse--about {
  width: 75%;
}
@media screen and (min-width: 280px) and (max-width: 768px) {
  .collapse--about {
    width: 100%;
    margin-bottom: inherit;
  }
}
.collapse__titleContent {
  display: flex;
  justify-content: space-between;
  padding: 13px 20px;
  background: #ff6060;
  border-radius: 10px;
  color: white;
  align-items: center;
  margin-top: inherit;
}
@media screen and (min-width: 280px) and (max-width: 768px) {
  .collapse__titleContent {
    padding: 8px 15px;
  }
}
.collapse__titleContent--about {
  margin-top: 31px;
}
@media screen and (min-width: 280px) and (max-width: 768px) {
  .collapse__titleContent--about {
    padding: 13px 20px;
  }
}
.collapse__titleContent__title {
  font-weight: 500;
}
@media screen and (min-width: 280px) and (max-width: 480px) {
  .collapse__titleContent__title {
    font-size: 1rem;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .collapse__titleContent__title {
    font-size: 1.2rem;
  }
}
.collapse__titleContent__icone {
  display: block;
  font-size: 1.3rem;
  cursor: pointer;
}
@media screen and (min-width: 280px) and (max-width: 768px) {
  .collapse__titleContent__icone {
    font-size: 1.25rem;
  }
}
.collapse__paragraph {
  padding: 40px 20px;
  position: relative;
  top: -10px;
  z-index: -1;
  color: #ff6060;
  background: #f6f6f6;
  min-height: 249px;
  border-radius: 0 0 10px 10px;
}
@media screen and (min-width: 280px) and (max-width: 768px) {
  .collapse__paragraph {
    min-height: 143px;
    font-size: 1rem;
  }
}
.collapse__paragraph--about {
  min-height: 146px;
}
@media screen and (min-width: 280px) and (max-width: 768px) {
  .collapse__paragraph--about {
    font-size: inherit;
  }
}
.collapse__ul {
  list-style-type: none;
  padding: 25px;
  position: relative;
  top: -10px;
  z-index: -1;
  color: #ff6060;
  background: #f6f6f6;
  min-height: 249px;
  border-radius: 0 0 10px 10px;
}
@media screen and (min-width: 280px) and (max-width: 768px) {
  .collapse__ul {
    min-height: 143px;
  }
}
.collapse__ul__li {
  padding: 3px 0;
}
@media screen and (min-width: 280px) and (max-width: 768px) {
  .collapse__ul__li {
    font-size: 1rem;
  }
}

.ulStars {
  list-style-type: none;
  display: flex;
  margin-top: 33px;
}
@media screen and (min-width: 280px) and (max-width: 480px) {
  .ulStars {
    margin-top: inherit;
  }
}
.ulStars__filledStars {
  display: block;
  margin-right: 10px;
  font-size: 1.3rem;
  color: #ff6060;
}
@media screen and (min-width: 280px) and (max-width: 480px) {
  .ulStars__filledStars {
    font-size: 0.95rem;
  }
}
.ulStars__emptyStars {
  display: block;
  margin-right: 10px;
  font-size: 1.3rem;
  color: #e3e3e3;
}
@media screen and (min-width: 280px) and (max-width: 480px) {
  .ulStars__emptyStars {
    font-size: 0.95rem;
  }
}

.ulTags {
  display: flex;
  list-style-type: none;
  flex-wrap: wrap;
  margin-top: 20px;
  color: white;
}
.ulTags__liTags {
  display: flex;
  font-size: 0.875rem;
  height: 25px;
  min-width: 115px;
  margin-right: 10px;
  background: #ff6060;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  padding: 0 15px 0 15px;
  margin-top: 5px;
}
@media screen and (min-width: 280px) and (max-width: 480px) {
  .ulTags__liTags {
    font-size: 0.8rem;
    padding: 12px 10px 10px;
    margin-bottom: 10px;
    min-width: 84px;
    height: 18px;
  }
}

.footer {
  background-color: black;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 80px;
}
.footer__logoContent {
  margin: 66px 0 35px 0;
}
@media screen and (min-width: 280px) and (max-width: 480px) {
  .footer__logoContent__img {
    width: 110%;
  }
}
.footer__rights {
  margin-bottom: 29px;
  color: white;
  font-size: 1.5rem;
}
@media screen and (min-width: 280px) and (max-width: 480px) {
  .footer__rights {
    font-size: 3.75vw;
    margin-bottom: 19.375vw;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .footer__rights {
    font-size: 3.118vw;
  }
}

.hostContent {
  display: flex;
  justify-content: space-between;
}
@media screen and (min-width: 280px) and (max-width: 480px) {
  .hostContent {
    flex-direction: column;
  }
}
.hostContent__titlesAndTags {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  flex-direction: column;
}
.hostContent__titlesAndTags__mainTitle {
  font-size: 2.25rem;
  color: #ff6060;
}
@media screen and (min-width: 280px) and (max-width: 768px) {
  .hostContent__titlesAndTags__mainTitle {
    font-size: 5.3125vw;
  }
}
.hostContent__titlesAndTags__subtitle {
  display: block;
  margin-top: 10px;
  font-size: 1.125rem;
  color: #ff6060;
  font-weight: 500;
}
.hostContent__StarsAndImgContent {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: flex-end;
}
@media screen and (min-width: 280px) and (max-width: 480px) {
  .hostContent__StarsAndImgContent {
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
  }
}
.hostContent__StarsAndImgContent__imgContent {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
}
.hostContent__StarsAndImgContent__imgContent__img {
  display: block;
  border-radius: 100%;
  height: 64px;
  width: 64px;
}
@media screen and (min-width: 280px) and (max-width: 480px) {
  .hostContent__StarsAndImgContent__imgContent__img {
    height: 10vw;
    width: 10vw;
  }
}
.hostContent__StarsAndImgContent__imgContent__namesContent {
  display: flex;
  flex-direction: column;
  align-items: self-end;
  margin-right: 10px;
}
.hostContent__StarsAndImgContent__imgContent__namesContent__firstName {
  display: block;
  font-size: 1.125rem;
  color: #ff6060;
  font-weight: 500;
}
@media screen and (min-width: 280px) and (max-width: 480px) {
  .hostContent__StarsAndImgContent__imgContent__namesContent__firstName {
    font-size: 3.75vw;
  }
}
.hostContent__StarsAndImgContent__imgContent__namesContent__name {
  display: block;
  font-size: 1.125rem;
  color: #ff6060;
  font-weight: 500;
}
@media screen and (min-width: 280px) and (max-width: 480px) {
  .hostContent__StarsAndImgContent__imgContent__namesContent__name {
    font-size: 3.75vw;
  }
}

.collapseContent {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}
@media screen and (min-width: 280px) and (max-width: 768px) {
  .collapseContent {
    flex-direction: column;
  }
}

.aboutContent {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.errorTitle {
  font-size: 18rem;
  text-align: center;
  margin-top: 169px;
  color: #ff6060;
}
@media screen and (min-width: 280px) and (max-width: 480px) {
  .errorTitle {
    font-size: 30vw;
    margin-top: 48.44vw;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .errorTitle {
    font-size: 30vw;
    margin-top: 35vw;
  }
}
.errorTitle__msg {
  display: block;
  text-align: center;
  font-size: 2.25rem;
  color: #ff6060;
  margin-top: 66px;
}
@media screen and (min-width: 280px) and (max-width: 480px) {
  .errorTitle__msg {
    font-size: 5.4vw;
    margin-top: 5.4375vw;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .errorTitle__msg {
    font-size: 5vw;
    margin-top: 5.4375vw;
  }
}
@media screen and (min-width: 280px) and (max-width: 768px) {
  .errorTitle__msg__main {
    display: block;
    margin-bottom: 9px;
  }
}
.errorTitle__link {
  display: block;
  text-align: center;
  margin-top: 182px;
  color: #ff6060;
}
@media screen and (min-width: 280px) and (max-width: 480px) {
  .errorTitle__link {
    font-size: 4.375vw;
    margin: 155px 0 100px 0;
  }
}
@media screen and (min-width: 481px) and (max-width: 768px) {
  .errorTitle__link {
    font-size: 3.2vw;
    margin: 155px 0 100px 0;
  }
}

/*# sourceMappingURL=style.css.map */
