.cardsContent {
  width: 100%;
  display: flex;
  justify-content: space-between;
  padding: 56px;
  margin-top: 43px;
  border-radius: $mainRadius;
  background: $colorBackG;
  justify-content: space-between;
  flex-wrap: wrap;
  @include responsive-minWidth-MaxWidth('xs', 'm') {
    flex-direction: column;
    padding: 0px;
    background: transparent;
    margin-top: 20px;
  }
  @include responsive-minWidth-MaxWidth('sm_1', 'l') {
    margin-top: 63px;
  }
  &__card {
    cursor: pointer;
    position: relative;
    display: flex;
    flex-direction: column;
    list-style-type: none;
    width: 30%;
    // background-color: $colorPrimary;
    height: 340px;
    margin-bottom: 56px;
    border-radius: $cardsRadius;
    &:hover {
      transform: scale(1.03);
      transition-duration: 500ms;
      box-shadow: 3px 2px 10px rgba(66, 45, 45, 0.452);
      .cardsContent__imgContent__title {
        font-weight: 600;
      }
    }
    @include responsive-minWidth-MaxWidth('s_1', 'xl') {
      width: 45%;
    }
    @include responsive-minWidth-MaxWidth('xs', 'sm') {
      @include width-and-height-cardPhone;
      margin-bottom: 20px;
    }
    @include responsive-minWidth-MaxWidth('sm_1', 'm') {
      @include width-and-height-cardPhone;
      margin-bottom: 30px;
    }
  }
  &__gradient {
    display: block;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: linear-gradient(0deg, rgb(0, 0, 0, 0.5), transparent);
    border-radius: $cardsRadius;
  }
  &__imgContent {
    overflow: hidden;
    border-radius: $cardsRadius;
    &__img {
      object-fit: cover;
      height: 340px;
      display: block;
      width: 100%;
      @include responsive-minWidth-MaxWidth('xs', 'm') {
        height: 255px;
      }
    }
    &__title {
      display: block;
      max-width: 50%;
      position: absolute;
      bottom: 0;
      margin: 20px;
      font-weight: 500;
      color: white;
      z-index: 1;
      @include responsive-minWidth-MaxWidth('xs', 's') {
        font-size: 1rem;
      }
      @include responsive-minWidth-MaxWidth('s_1', 'sm') {
        font-size: 1.1rem;
      }
      @include responsive-minWidth-MaxWidth('sm_1', 'm') {
        font-size: 1.25rem;
      }
      @include responsive-minWidth-MaxWidth('m', 'l') {
        font-size: 1rem;
      }
    }
  }
}
